package home

templ HomePage() {
	<div>
		<h1>Home</h1>
		<p>Welcome to the home page</p>
	</div>
	<div>
		<h2>Features</h2>
		<ul>
			<li>Fast</li>
			<li>Simple</li>
			<li>Easy to use</li>
		</ul>
	</div>
}
