package views

import (
	"github.com/labstack/echo/v4"
	"sep_setting_mgr/internal/domain/models"
)

templ DashboardCalendarComponent(assignments models.Assignments, r *echo.Echo) {
	@CalendarComponent(assignments, false, r)
}
