package views

import (
	"github.com/labstack/echo/v4"
	"sep_setting_mgr/internal/domain/models"
	common "sep_setting_mgr/internal/handlers/handlerscommon"
	"sep_setting_mgr/internal/handlers/views/components"
	"sep_setting_mgr/internal/handlers/views/layouts"
	"sep_setting_mgr/internal/handlers/views/layouts/layoutscommon"
)

templ DashboardPage(classes []*models.Class, router *echo.Echo) {
	@layouts.PageLayout("Dashboard", DashboardSideNav(router)) {
		@ClassesTable(classes, router)
	}
}

templ DashboardSideNav(router *echo.Echo) {
	@components.SideNav([]components.NavItem{
		{Text: "Classes", URL: router.Reverse(common.HxClasses.String())},
		{Text: "Calendar", URL: router.Reverse(common.DashboardCalendar.String())},
	}, layoutscommon.Details.Selector())
}
