package views

import (
	"github.com/labstack/echo/v4"
	"sep_setting_mgr/internal/domain/models"
	common "sep_setting_mgr/internal/handlers/handlerscommon"
	"sep_setting_mgr/internal/handlers/views/components"
	"sep_setting_mgr/internal/handlers/views/components/componentscommon"
	"strconv"
)

const studentTableID = "students-table"

func prepareStudentsForTable(students []*models.Student, class *models.Class, router *echo.Echo) components.TableData {
	var rows []components.Row
	headers := []string{"First", "Last"}
	for _, student := range students {
		rows = append(rows, studentToRow(student, class, router))
	}
	return components.TableData{ID: studentTableID,
		Title:       "Students in " + strconv.Itoa(class.Block) + string(class.Periodicity) + " " + class.Name,
		Description: "A list of all students.",
		AddRow:      true,
		AddRowButton: components.Button{
			Text: "Add Student",
			Attr: templ.Attributes{
				"hx-get":      router.Reverse(string(common.ShowAddStudentForm), class.ID),
				"hx-target":   "#" + studentTableID,
				"hx-swap":     "afterbegin",
				"hx-push-url": "true",
			},
		},
		Headers: headers,
		Rows:    rows}
}

templ StudentTableComponent(students []*models.Student, class *models.Class, router *echo.Echo) {
	@componentscommon.Templify(components.UpNav(
		"Back to classes",
		true,
		router.Reverse(common.HxClasses.String(),
			class.ID),
		"#details"))
	// <div
	// 	id="up-nav"
	// 	hx-swap-oob="true"
	// >
	// 	@components.NewButton("Back to classes", templ.Attributes{
	// 		"hx-get":      router.Reverse(common.HxClasses.String(), class.ID),
	// 		"hx-target":   "#details",
	// 		"hx-push-url": "true",
	// 	}).Templify()
	// </div>
	<div class="flex flex-col">
		@components.TableComponent(prepareStudentsForTable(students, class, router))
	</div>
}

func studentToRow(student *models.Student, class *models.Class, router *echo.Echo) components.Row {
	return components.Row{
		TableID:       studentTableID,
		Editable:      true,
		ShowEditRoute: router.Reverse(string(common.ShowEditStudentForm), class.ID, student.ID),
		Deleteable:    true,
		DeleteRoute:   router.Reverse(common.DeleteStudent.String(), class.ID, student.ID),
		Data:          []string{student.FirstName, student.LastName},
		ID:            student.ID,
	}
}

templ StudentRowComponent(student *models.Student, class *models.Class, router *echo.Echo) {
	@components.TableRowComponent(studentToRow(student, class, router))
}
