package views

import (
	"github.com/labstack/echo/v4"
	"sep_setting_mgr/internal/domain/models"
	common "sep_setting_mgr/internal/handlers/handlerscommon"
	"sep_setting_mgr/internal/handlers/views/components"
	"strconv"
)

const testEventsTableID = "test-events-table"

func prepareTestEventsForTable(testEvents models.TestEvents, class *models.Class, router *echo.Echo) components.TableData {
	var rows []components.Row
	headers := []string{"Name", "Date"}
	for _, testEvent := range testEvents {
		rows = append(rows, testEventToRow(testEvent, class.ID, router))
	}
	return components.TableData{
		ID:          testEventsTableID,
		Title:       "Events in " + strconv.Itoa(class.Block) + string(class.Periodicity) + " " + class.Name,
		Description: "A list of all test events.",
		AddRow:      true,
		AddRowButton: components.Button{
			Text: "Add Test Event",
			Attr: templ.Attributes{
				"hx-get":      router.Reverse(string(common.ShowAddTestEventForm), class.ID),
				"hx-target":   "#" + testEventsTableID,
				"hx-swap":     "afterbegin",
				"hx-push-url": "true",
			},
		},

		Headers: headers, Rows: rows}
}

templ TestEventsTableComponent(testEvents models.TestEvents, class *models.Class, router *echo.Echo) {
	@components.TableComponent(prepareTestEventsForTable(testEvents, class, router))
}

func testEventToRow(testEvent *models.TestEvent, classID int, router *echo.Echo) components.Row {
	return components.Row{
		TableID:       testEventsTableID,
		Editable:      true,
		ShowEditRoute: router.Reverse(string(common.ShowEditTestEventForm), classID, testEvent.ID),
		Deleteable:    true,
		DeleteRoute:   router.Reverse(string(common.DeleteTestEvent), classID, testEvent.ID),
		Data:          []string{testEvent.TestName, testEvent.TestDate.Format("2006-01-02")},
		ID:            testEvent.ID,
	}
}

templ TestEventRowComponent(testEvent *models.TestEvent, classID int, router *echo.Echo) {
	@components.TableRowComponent(testEventToRow(testEvent, classID, router))
}
