package pages

// import domain package
import (
	"sep_setting_mgr/internal/domain"
	"sep_setting_mgr/internal/templates/components"
)

templ CalendarPage(testEvents *domain.TestEvents) {
	<table>
		@components.AddButton()
		<thead>
			<tr>
				<td>Name</td>
				<td>Date</td>
			</tr>
		</thead>
		<tbody id="table">
			for _, event := range *testEvents {
				@components.TestEventRow(event)
			}
		</tbody>
	</table>
}
