package pages

// import domain package
import (
	"sep_setting_mgr/internal/domain"
	"sep_setting_mgr/internal/templates/components"
)

templ CalendarPage(testEvents *domain.TestEvents) {
	@components.AddTestEventForm()
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Date</th>
				<th>Id</th>
			</tr>
		</thead>
		<tbody id="table">
			@components.TestEventListComponent(testEvents)
		</tbody>
	</table>
}
