package components

templ AddTestEventForm() {
	@FormComponent(Form{
		Title:    "Add Test Event",
		SubTitle: "Add a test event to the calendar",
		HxAttr: templ.Attributes{
			"hx-post":   "/add",
			"hx-target": "#table",
		},
		SubmitBtnTitle: "Add",
	}) {
		@InputComponent(Input{
			Label:    "Test Date",
			ID:       "date",
			Type:     "date",
			Name:     "date",
			Required: true,
		})
		@InputComponent(Input{
			Label:       "Test Name",
			Placeholder: "Unit 1 Test",
			ID:          "name",
			Type:        "text",
			Name:        "name",
			Required:    true,
		})
		@InputComponent(Input{
			Label:       "Test Block",
			Placeholder: "2",
			ID:          "block",
			Type:        "number",
			Name:        "block",
			Required:    true,
			Min: 1,
			Max: 4,
		})
	}
}