package components

type Button struct {
	Attr templ.Attributes
}

templ ButtonComponent(b Button) {
	<button { b.Attr... } class="bg-blue-600 rounded p-2 text-white min-w-24">
		{ children... }
	</button>
}

templ TestUseOfButton() {
	@ButtonComponent(Button{Attr: templ.Attributes{"hx-get": "/test"}}) {
		Click me
	}
}