package components

import "strconv"

import (
	"sep_setting_mgr/internal/domain"
)

func classToRow(class *domain.Class) Row {
	return Row{Data: []string{class.Name, strconv.Itoa(class.Block)}, ID: class.ID}

}

templ ClassRowComponent(class *domain.Class) {
	@TableRowComponent(classToRow(class))
}
