package components

import "strconv"

templ TableRowComponent(row Row) {
	<tr
		data-id={ strconv.Itoa(row.ID) }
	>
		for _, cell := range row.Data {
			<td>{ cell }</td>
		}
		for _, button := range row.Buttons {
			<td>
				@ButtonComponent(Button{
					Attr: button.Attr,
				}) {
					{ button.Text }
				}
			</td>
		}
	</tr>
}
