package components

import domain "sep_setting_mgr/internal/domain/models"

templ DashboardPage(classes []*domain.Class) {
	<h1>Dashboard</h1>
	<p>Welcome to the dashboard</p>
	@AddClassForm(false)
	@ClassesTable(classes)
	<div id="details"></div>
}
