package components

import (
	"sep_setting_mgr/internal/components"
	domain "sep_setting_mgr/internal/domain/models"
)

func prepareTestEventsForTable(testEvents *domain.TestEvents) components.TableData {
	var rows []components.Row
	headers := []string{"Name", "Date"}
	for _, testEvent := range *testEvents {
		rows = append(rows, testEventToRow(testEvent))
	}
	return components.TableData{ID: "test-events-table", Title: "Test Events", Headers: headers, Rows: rows}
}

templ TestEventsTableComponent(testEvents *domain.TestEvents, classID int) {
	@AddTestEventForm(classID)
	@components.TableComponent(prepareTestEventsForTable(testEvents))
}
