package components

import (
	"sep_setting_mgr/internal/components"
	domain "sep_setting_mgr/internal/domain/models"
	"strconv"
)

func testEventToRow(testEvent *domain.TestEvent) components.Row {
	return components.Row{
		Data: []string{testEvent.TestName, strconv.Itoa(testEvent.Block)},
		ID:   testEvent.ID,
		Buttons: []components.TableButton{
			{
				Text: "Edit",
			},
			{
				Text: "Delete",
				Attr: templ.Attributes{
					"hx-delete":  "/test-events/" + strconv.Itoa(testEvent.ID),
					"hx-target":  "closest tr",
					"hx-confirm": "Are you sure you want to delete this test event?",
				},
			},
		},
	}
}

templ TestEventRowComponent(testEvent *domain.TestEvent) {
	@components.TableRowComponent(testEventToRow(testEvent))
}
